.b-car { width: 54px; height: 54px; margin-left:-27px; margin-top:-27px; }
.b-car.b-car_blue { background: url(i/cars-blue.png) no-repeat 0 0; }
.b-car.b-car-direction-e {background-position:-324px 0}
.b-car.b-car-direction-ne {background-position:-378px 0}
.b-car.b-car-direction-n {background-position:0 0}
.b-car.b-car-direction-nw {background-position:-54px 0}
.b-car.b-car-direction-w {background-position:-108px 0}
.b-car.b-car-direction-sw {background-position:-162px 0}
.b-car.b-car-direction-s {background-position:-216px 0}
.b-car.b-car-direction-se {background-position:-270px 0}
